html {
  font-family: Shabnam;
}

body{
  background-color: #fafafa;
}

main {
  direction: rtl;
}

h1 {
  font-size: 1.666rem;
}
h3{
  font-size: 1.0666rem;
}
.border-bottom{
  position: relative;
}

.mg-top{
  margin-top: 25px;
}
.border-bottom::after{
  content: "";
  width:50px;
  height:2px;
  background-color: #06b3a8;
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  margin: auto;
}



/* shabnam */
@font-face {
  font-family: Shabnam;
  src: url('/fonts/shabnam/Shabnam.eot');
  src: url('/fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('/fonts/shabnam/Shabnam.woff') format('woff'),
       url('/fonts/shabnam/Shabnam.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Shabnam;
  src: url('/fonts/shabnam/Shabnam-Bold.eot');
  src: url('/fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/shabnam/Shabnam-Bold.woff') format('woff'),
       url('/fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('/fonts/shabnam/Shabnam-Light.eot');
  src: url('/fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/shabnam/Shabnam-Light.woff') format('woff'),
       url('/fonts/shabnam/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}








/* header */

nav {
  box-shadow: unset;
}
nav .brand-logo{
  color:#212121;
  right: 0;
}
nav ul li {
  float: right;
}
nav ul a{
  color: #212121;
  font-size: 0.8666rem;
}
nav ul li span {
  color: #c62537;
}

nav ul a:hover{
  background-color: transparent;
}



/* search box */
.search-box{
  text-align: center;
  padding-bottom: 100px;
}


.search-input{
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
  height: 60px;
  border-radius: 5px;
  padding-right: 15px;
}
.search-input input#search-input{
  border-bottom: unset;
  height: 100%;
  margin-bottom: 0px;
}

.search-input input#search-input:focus{
  border-bottom: unset ;
  box-shadow: unset ;
}

#search-input-location{
  width: 14px;
}

#search-input-search {
  width:40px;
  height: 40px;
  border-radius: 5px;
  padding: 11px;
  background-color: #31bad5;
  box-shadow: 0 1px 3px 0 #31bad5;
  margin: 0px 10px;
}


/* category */
.category-box{
  padding: 25px 0px;
}
.category-box h3 {
  margin-right: 10px;
}
.categories{
  display: flex;
  flex-direction: row;
}

.category-box .category-product {
  width: 200px;
  margin-left:15px;
}
.category-box .category-product img {
  height: 70px;
  object-fit: cover;
  width:200px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.category-box .category-product .category-product-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px 5px 5px;
}

.category-box .category-product .category-product-content a:first-child{
  color:#212121;
}



/* new homez */
.homez-sec{
  overflow: hidden;
}
.homez-sec h2{
  font-size: 1.0666rem;
}

.new-homez{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.new-homez::after{
  content:"";
  width: 1200px;
  height: 400px;
  position: absolute;
  background-color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  bottom:80px;
  z-index: -1;
  transform: rotate( -12deg );
  -webkit-transform: rotate( -12deg );
  -moz-transform: rotate( -12deg );
  -ms-transform: rotate( -12deg );
  -o-transform: rotate( -12deg );
  transform-origin: bottom left;
  left:40%; 
  bottom:-90px;
}

.home {
  width: 250px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 25px;
  overflow: hidden;
  margin-left: 20px;
  background-color: #fff;
}

.home .home-img img{
  height:135px;
  width: 100%;
  object-fit: cover;
}
.home .home-content{
  padding: 0px 10px; 
}
.home .home-content h3{
  color:#212121;
  font-size:0.8666rem;
  margin: 15px 0px;
}

.home .home-content p{
  font-size: 0.7333rem;
  color: #616161;
}
.home .home-content p i{
  font-size: 12px;
  position: relative;
  top: 2px;
}

.btn-homez{
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border:1px solid #31bad5;
  height: 40px;
  line-height: 23px;
}
.btn-homez.fill{
  background-color: #31bad5;
  line-height: 35px;
}
.btn-homez i{
  position: relative;
  top: 7px;
}

/* selected homez */
.selected-homez{
  margin-top: 100px;
}
.homez-carousle-description h2{
  font-size: 1.06666rem;
}


.homez-carousle{
  display:flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  align-items: center;
}

.homez-carousle-items img{
  width:500px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.homez-carousle-items .item{
  position: relative;
  display: none;
}
.homez-carousle-items .item.active{
  display: inherit;
}
.homez-carousle-items .item .card {
  position: absolute;
  bottom: -80px;
  z-index: 5;
  right: -45px;
  text-align: right;
  border-radius: 15px;
}
  
.homez-carousle-items .item .card .card-content{
  padding:20px;
  color:#616161;
}

.homez-carousle-items .item .card, .homez-carousle-items .item img {
  opacity: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  right:-45px !important;
}
.homez-carousle-items .item.active .card,.homez-carousle-items .item.active img{
  animation: slider 1s ease-in-out forwards;
  -webkit-animation: slider 1s ease-in-out forwards;
  opacity: 1;
  right: 0px;
}
.homez-carousle-items .item .card .card-content i {
  position: relative;
  top: 5px;
}

#prev-slide{
  width:40px;
}
#prev-slide i {
  top: 8px;
  left: 6px;
}






@keyframes slider{
  from{
    right: -40px !important;
    opacity: 0.5;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }

to{
  right:-50px !important;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

}


/* login and register */
#login{
  box-shadow: 0 9px 20px 0 rgba(75, 75, 75, 0.26);
  top: 0px;
  bottom: 0px;
  max-height: 60%;
  width: 550px;
}

#login .description ,#login .login {
   width: 45%;
}

.modal-login{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}


.modal-login .input-field label {
  text-align: right;
  right: 0px;
  left: unset !important;
  transform-origin: 100% !important;
}

.btn-login{
  width:45%;
}
.modal-overlay{
  background-color: #fff;
}
.divider-login{
  width: 1px;
  height: 230px;
  position: relative;
  background: #d6d6d6;
  margin: 15px;
}


.divider-login p {
  transform: rotate(-90deg);
  background: #FFF;
  color: #d6d6d6;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 25px;
  height: 25px;
  margin: auto;
  right: -15px;
}