@media only screen and (max-width: 601px) {
   .search-input{
     width: 90%;
   }
   .homez-carousle-items .item .card{
     right: 10px;
     bottom: -120px;
   }
   #login .description ,#login .login {
    width: 90%;
  }
}
@media only screen and (max-width: 920px) {
  #login {
    width: 80%;
  }
  .modal-login { 
    flex-direction: column;
  }
  #login .description ,#login .login {
    width: 80%;
  }
  .divider-login{
    width: 230px;
    height: 1px;
    position: relative;
    background: #d6d6d6;
  }
  .divider-login p{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    width:25px;
    height: 25px;
    position: relative;
    background: #FFF;
    right: 0px;
    left: 0px;
    top: -10px;
  }
  #login .input-field {
    width:80%;
    margin: auto;
  }

}


@media only screen and (max-width: 993px){
  .new-homez{
    flex-wrap: nowrap;
    justify-content: start;
  }
  .new-homez::after{
    display: none;
  }
  .new-homez .owl-stage {
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
  }
  .homez-carousle{
    flex-direction: column-reverse;
  }
}


@media only screen and (min-width: 993px){
	.container {
	    width: 85%;
  }  
  .owl-carousel .owl-stage-outer{
    overflow: inherit;
  }
}
@media only screen and (min-width: 1201px) {}
@media only screen and (min-width: 1201px) {}
